$w100: 100%;
$h100: 100%;
$primary: #6f979722;
$secondary: #6fcaee;
$tertiary: #c0cfd5;
$quaternary: #7c7b7c;
$playerColor: hsla(93, 71%, 36%, 0.5);
$playerColorDark: hsla(93, 72%, 25%, 0.5);
$monsterColor: hsla(0, 55%, 41%, 0.5);
$monsterColorDark: hsla(0, 56%, 30%, 0.5);
$minProgressWidth: 150px;
$maxProgressWidth: 200px;

@mixin flex-center(){
    justify-content: center;
    align-items: center;
}

@mixin fullSize(){
    width: 100%;
    height: 100%;
}

@mixin cflx(){
    display: flex;
    flex-direction: column;
}
@mixin rflx(){
    display: flex;
    flex-direction: row;
}

@mixin teamColor($clr){
    border: solid 2px $clr;
    color: $clr;
}

*, ::before, ::after{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
    @include fullSize;
}

body{
    overflow: hidden;
    overflow-y: auto;

    font-family: Arial, Helvetica, sans-serif;
    // font-family: 'Courier New', Courier, monospace;
}

main{
    @include cflx;

    background-color: $primary;
    min-height: 100%;

    margin: 0 auto;
    padding: 5px;
}

.container{
    @include cflx;
    @include flex-center;

    max-width: 700px;
    margin: 0 auto;
    padding: 5px;

    border: solid 2px $secondary;
    border-radius: 5px;
    overflow: hidden;

    background-color: $primary;
}

button{
    border: none;
    padding: 5px;

    width: $w100;

    font-family: inherit;
}

.progressOuter{
    @include rflx;

    min-width: $minProgressWidth;
    max-width: $maxProgressWidth;
    min-height: 25px;

    margin: 2px;
    padding: 1px;

    position: relative;

    border-radius: 5px;
    background-color: #d2d2d2;
    border: 2px solid $secondary;
    
    .progressInner{
        max-width: 100%;
        min-height: 100%;
        border-radius: 3px;
        background-color: $secondary;
    }
    p{
        @include fullSize;

        position: absolute;
        // top: 2px;

        text-align: center;
    }

}
#playerBar{
    @extend .progressOuter;
    @include teamColor($playerColorDark);

    .progressInner{
        background-color: $playerColor;
    }
}
#monsterBar{
    @extend .progressOuter;
    @include teamColor($monsterColorDark);

    .progressInner{
        background-color: $monsterColor;
    }
}

#cardSection{
    @include rflx;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
    margin-bottom: 10px;
}

.card{
    @include cflx;
    @include flex-center;

    padding: 5px;
    min-width: 50%;
    
    > section{
        @include cflx();
        @include fullSize();
        justify-content: center;
        align-items: center;

        border: solid 2px $secondary;
        border-radius: 5px;
        > p {
            width: $minProgressWidth;
            text-transform: capitalize;
            // text-transform: lowercase;

            overflow: hidden;
            text-overflow: ellipsis;

            font-size: 12px;;
            text-align: center;
        }
    }
    .icon{
        @include cflx;
        overflow: hidden;

        min-width: $minProgressWidth;
        min-height: $minProgressWidth;

        margin: 2px;

        border: solid 2px $primary;
        border-radius: 5px;
    }
    p:first-child{
        margin: 5px;
    }
}
#player{
    border-color: $playerColorDark;
    .icon{
        border-color: $playerColorDark;
    }
}
#monster{
    border-color: $monsterColorDark;
    .icon{
        border-color: $monsterColorDark;
    }
}

#bttnSection{
    width: 550px;

    border: solid 2px $secondary;
    border-radius: 5px;
    overflow: hidden;

    #attack{
        color: hsla(352, 56%, 46%);
    }
    #special{
        color: hsl(29, 77%, 44%);
    }
    #heal{
        color: hsl(138, 70%, 29%);
    }
    
    #start{
        color: hsl(216, 57%, 16%);
    }
}

.cflx{
    @include cflx();
}
.rflx{
    @include rflx();
}

.displayNone{
    display: none;
}

#formSection{
    @include cflx();

    justify-content: center;

    border-radius: 5px;

    .form{
        display: grid;
        grid-template: "auto";
        gap: 5px 0px;
        
        border: 2px solid $secondary;
        border-radius: 5px;

        overflow: hidden;

        > section{
        // & > section{
            display: grid;
            grid-template-rows: repeat(2, auto);
            gap: 2px 0;
            
            // border: 1px solid $quaternary;
            // border-bottom: 1px solid lightgrey;
            border-bottom: 1px solid $primary;
            // border-radius: 2px;
            padding: 2px;

            label{
                font-size: 12px;
            }
        }
        > button{
            margin-top: 5px;
            // border-radius: 2px;
            border-top: 2px solid $secondary;
        }
    }
    .baseDmg, .spDmg{
        display: grid;
        grid-template-rows: repeat(2, auto);
        gap: 2px 0;
        
        section{
            display: grid;
            grid-template-columns: repeat(2, auto);
            gap: 0 4px;
        }
    }
    input[type="number"]{
        -moz-appearance: textfield;
    }
}

ul{
    list-style: none;
    .v1{
        background-color: hsl(0, 0%, 90%);
    }
    .v2{
        background-color: hsl(0, 0%, 80%);
    }
}
li{
    width: 100%;
    text-align: center;
}

h4{
    margin: 5px;
}

button{
    cursor: pointer;
    background-color: $primary;
    
    &:hover{
        background-color: $secondary;
    }
    &:disabled{
        cursor: default;
        &:hover{
            background-color: $primary;
        }
    }
}



