$w100: 100%;
$h100: 100%;
$primary: #6f979722;
$secondary: #6fcaee;
$tertiary: #c0cfd5;
$playerColor: hsla(93, 71%, 36%, 0.5);
$playerColorDark: hsla(93, 72%, 25%, 0.5);
$monsterColor: hsla(0, 55%, 41%, 0.5);
$monsterColorDark: hsla(0, 56%, 30%, 0.5);

@mixin flex-center(){
    justify-content: center;
    align-items: center;
}

@mixin fullSize(){
    width: 100%;
    height: 100%;
}

@mixin cflx(){
    display: flex;
    flex-direction: column;
}
@mixin rflx(){
    display: flex;
    flex-direction: row;
}

@mixin teamColor($clr){
    border: solid 2px $clr;
    color: $clr;
}

*, ::before, ::after{
    box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
    @include fullSize;
}

body{
    overflow: hidden;
    overflow-y: auto;

    font-family: Arial, Helvetica, sans-serif;
    // font-family: 'Courier New', Courier, monospace;
}

main{
    @include cflx;

    background-color: $primary;
    min-height: 100%;

    margin: 0 auto;
    padding: 5px;
}

.container{
    @include cflx;
    @include flex-center;

    margin: 0 auto;
    padding: 5px;

    border: solid 2px $secondary;
    border-radius: 5px;
    overflow: hidden;

    background-color: $primary;
}

button{
    border: none;
    padding: 5px;

    width: $w100;

    font-family: inherit;
}

.progressOuter{
    @include rflx;

    min-width: 250px;
    min-height: 25px;

    margin: 2px;
    padding: 1px;

    position: relative;

    border-radius: 5px;
    background-color: #d2d2d2;

    .progressInner{
        max-width: 100%;
        min-height: 100%;
        border-radius: 3px;
    }

    p{
        @include fullSize;

        position: absolute;
        top: 2px;

        text-align: center;
    }
}
#playerBar{
    @extend .progressOuter;
    @include teamColor($playerColorDark);

    .progressInner{
        background-color: $playerColor;
    }
}
#monsterBar{
    @extend .progressOuter;
    @include teamColor($monsterColorDark);

    .progressInner{
        background-color: $monsterColor;
    }
}

#cardSection{
    @include rflx;
    min-width: 550px;
    justify-content: space-between;
    align-items: center;


    margin-top: 10px;
    margin-bottom: 10px;
}

.card{
    @include cflx;
    @include flex-center;
    
    border: solid 2px $secondary;
    border-radius: 5px;
    
    .icon{
        @include cflx;
        overflow: hidden;

        width: 250px;
        height: 250px;

        margin: 2px;

        border: solid 2px $primary;
        border-radius: 5px;
    }
    p:first-child{
        margin: 5px;
    }
}
#player{
    border-color: $playerColorDark;
    .icon{
        border-color: $playerColorDark;
    }
}
#monster{
    border-color: $monsterColorDark;
    .icon{
        border-color: $monsterColorDark;
    }
}

#bttnSection{
    width: 550px;

    border: solid 2px $secondary;
    border-radius: 5px;
    overflow: hidden;

    #attack{
        color: hsla(352, 56%, 46%);
    }
    #special{
        color: hsl(29, 77%, 44%);
    }
    #heal{
        color: hsl(138, 70%, 29%);
    }
    
    #start{
        color: hsl(216, 57%, 16%);
    }
}

.cflx{
    @include cflx();
}
.rflx{
    @include rflx();
}

.displayNone{
    display: none;
}

ul{
    list-style: none;
    .v1{
        background-color: hsl(0, 0%, 90%);
    }
    .v2{
        background-color: hsl(0, 0%, 80%);
    }
}
li{
    width: 100%;
    text-align: center;
}

h4{
    margin: 5px;
}

button{
    cursor: pointer;
}

